version: '3.1'
services:
  backend:
    image: maiermic/12-factor-app-example-backend-nodejs:latest
    depends_on:
      - database
      - image_storage
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    environment:
      - MONGO_URI=mongodb://database:27017/12-factor-app
      - PORT=${BACKEND_PORT}
      - BASE_IMAGE_URL=${BACKEND_BASE_IMAGE_URL}
    secrets:
      - mongo_user
      - mongo_password
    deploy:
      replicas: 2
  file_storage:
    image: maiermic/12-factor-app-example-file-storage:latest
    ports:
      - "${FILE_STORAGE_PORT}:${FILE_STORAGE_PORT}"
    environment:
      - STATIC_FILE_DIRECTORY=/static-file-directory
      - PORT=${FILE_STORAGE_PORT}
    volumes:
      - ./volumes/file-storage:/static-file-directory
  database:
#    image: maiermic/12-factor-app-example-database-mongo:1.0.0
    image: mongo:latest
    volumes:
      - ./volumes/database:/data/db
  visualizer:
      image: dockersamples/visualizer:stable
      ports:
        - "8080:${VISUALIZER_PORT}"
      volumes:
        - "/var/run/docker.sock:/var/run/docker.sock"
      deploy:
        placement:
          constraints: [node.role == manager]
secrets:
  mongo_user:
    external: true
  mongo_password:
    external: true
